<h3>Work Experience</h3>
<div class="work">
    <div class="details">
        <div class="col-md-3 city">
            <h5>Premium IT Technologies</h5>
            <p>Bucharest, Romania</p>
        </div>
        <div class="col-md-7 posts">
            <h4>Web Developer</h4>
            <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis
                nibh leo.

                Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                pellentesque leo imperdiet.

                Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in
                neque. In tincidunt sed enim et tincidunt.</p>
        </div>
        <div class="col-md-2 date">
            <p>2014 Ian. - present</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="details">
        <div class="col-md-3 city">
            <h5>Crys Computers (Incrys)</h5>
            <p>Bucharest, Romania</p>
        </div>
        <div class="col-md-7 posts">
            <h4>Web developer</h4>
            <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis
                nibh leo.

                Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                pellentesque leo imperdiet.

                Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in
                neque. In tincidunt sed enim et tincidunt.</p>

        </div>
        <div class="col-md-2 date">
            <p>2013 Apr. - 2014 Ian.</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="details">
        <div class="col-md-3 city">
            <h5>King Crown Online Services</h5>
            <p>Bucharest, Romania</p>
        </div>
        <div class="col-md-7 posts">
            <h4>Web Developer</h4>
            <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis
                nibh leo.
                Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                pellentesque leo imperdiet.
                Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in
                neque. In tincidunt sed enim et tincidunt.</p>
        </div>
        <div class="col-md-2 date">
            <p>2013 Ian. - 2013 Apr.</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="details">
        <div class="col-md-3 city">
            <h5>Creative Luggage</h5>
            <p>Bucharest, Romania</p>
        </div>
        <div class="col-md-7 posts">
            <h4>Web Developer</h4>
            <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis
                nibh leo.
                Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                pellentesque leo imperdiet.
                Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in
                neque. In tincidunt sed enim et tincidunt.</p>
        </div>
        <div class="col-md-2 date">
            <p>2011 Ian. - 2013 Ian.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<h3>Education</h3>
<div class="education">

    <div class="details">

        <div class="col-md-3 city">

            <h5>Bucharest University of Economic Studies</h5>

            <p>Bucharest, Romania</p>

        </div>

        <div class="col-md-7 college">

            <h4>Department of Economic Informatics & Cybernetics - IT&C Security</h4>

            <h5>Description of course and more information.</h5>

        </div>

        <div class="col-md-2 date">

            <p>2010 - 12</p>

        </div>

        <div class="clearfix"></div>

    </div>

    <div class="details">

        <div class="col-md-3 city">

            <h5>Romanian-American University</h5>

            <p>Bucharest, Romania</p>

        </div>

        <div class="col-md-7 college">

            <h4>Computer Science for Business Management</h4>

            <h5>Description of course and more information.</h5>

        </div>

        <div class="col-md-2 date">

            <p>2009 - 12</p>

        </div>

        <div class="clearfix"></div>

    </div>

    <div class="details">

        <div class="col-md-3 city">

            <h5>Bucharest University of Economic Studies</h5>

            <p>Bucharest, Romania</p>

        </div>

        <div class="col-md-7 college">

            <h4>Faculty of Business Administration, in foreign languages (French)</h4>

            <h5>Description of course and more information.</h5>

        </div>

        <div class="col-md-2 date">

            <p>2007 - 10</p>

        </div>

        <div class="clearfix"></div>

    </div>
</div>

<div class="skills">

    <div class="col-md-6 skill-list">

        <h3>IT Skills</h3>

        <div class="lists">

            <div class="sub grid1">

                <h5>Photoshop</h5>

                <div class="progressy1"><p></p></div>

                <div class="clearfix"></div>

            </div>
            <div class="sub">
                <h5>HTML5</h5>
                <div class="progressy2"><p></p></div>
                <div class="clearfix"></div>
            </div>
            <div class="sub">
                <h5>CSS3</h5>
                <div class="progressy3"><p></p></div>
                <div class="clearfix"></div>
            </div>
            <div class="sub">
                <h5>PHP</h5>
                <div class="progressy4 php"><p></p></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 skill-list">
        <h3>Languages</h3>
        <div class="lists2">
            <div class="sub grid1">
                <h5>English</h5>
                <div class="progressy1"><p></p></div>
                <div class="clearfix"></div>
            </div>
            <div class="sub">
                <h5>Spanish</h5>
                <div class="progressy4"><p></p></div>
                <div class="clearfix"></div>
            </div>
            <div class="sub">
                <h5>Italian</h5>
                <div class="progressy6"><p></p></div>
                <div class="clearfix"></div>
            </div>
            <div class="sub">
                <h5>German</h5>
                <div class="progressy7"><p></p></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
