 <div class="work">

			 <div class="details">

				 <div class="col-md-3 city">

					 <h5>COMPANY NAME</h5>

					 <p>New York, NY</p>

				 </div>				 

				 <div class="col-md-7 posts">

					 <h4>Web Director</h4>

					 <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo.

				 Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet.

				 Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>

				 </div>	

				 <div class="col-md-2 date">

					 <p>2013 - 14</p>

				 </div>

				 <div class="clearfix"></div>

			 </div>

			 <div class="details">

				 <div class="col-md-3 city">

					 <h5>COMPANY NAME</h5>

					 <p>Beston, NY</p>

				 </div>				 

				 <div class="col-md-7 posts">

					 <h4>Content Manager</h4>

					 <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo.

				 Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet.

				 Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>

				 </div>	

				 <div class="col-md-2 date">

					 <p>2011 - 12</p>

				 </div>

				 <div class="clearfix"></div>

			 </div>

			 <div class="details">

				 <div class="col-md-3 city">

					 <h5>COMPANY NAME</h5>

					 <p>Chicago, NY</p>

				 </div>				 

				 <div class="col-md-7 posts">

					 <h4>Web Master</h4>

					 <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis quis nibh leo.

				 Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et pellentesque leo imperdiet.

				 Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue nibh in neque. In tincidunt sed enim et tincidunt.</p>

				 </div>	

				 <div class="col-md-2 date">

					 <p>2009 - 10</p>

				 </div>

     			 <div class="clearfix"></div>

			 </div>

		 </div>
