<!DOCTYPE HTML>
<html>
<body>
<!-- header -->
<div class="top-header"></div>
<div class="container">
    <div class="header">
        <h1>User <br>NAME</h1>
    </div>
    <div class="header-right">
        <div class="list">
            <ul>
                <li><a href="mailto@example.com">info(at)example.com</a></li>
                <li>/</li>
                <li>(123) 4526 789</li>
            </ul>
        </div>
        <h2>web developer<br> & designer</h2>
    </div>
    <div class="clearfix"></div>
</div>
<!---->
<div class="content">
    <div class="container">
     <a href="/">index</a>
     <a href="about">about</a>
     <a href="portofolio">portofolio</a>
     {{outlet}}
       <div class="bottom_cnt">
            <div class="left_grid">
                <h3>Highlights</h3>
                <ul class="list2">
                    <li>Lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
                    <li>Ut lacinia nisl et tincidunt ullamcorper.</li>
                    <li>Mauris rhoncus eros ut dui quis gravida diam varius</li>
                    <li>Cras non nulla iaculis, mollis tortor porta nunc</li>
                    <li>Donec a nisl venenatis, pulvinar tortor at, eleifend mauris.</li>
                    <li>Etiam in purus tincidunt, suscipit metus id, lacinia nisi.</li>
                    <li>Suspendisse vel orci sit amet justo rutrum rutrum quis at arcu.</li>
                </ul>
            </div>
            <div class="right_grid">
                <h3>Social</h3>
                <ul class="media_sec">
                    <li><a href="#"><img src="images/fb.png" alt=""/>facebook / Lorem.com</a></li>
                    <li><a href="#"><img src="images/twt.png" alt=""/>twitter / Lorem.com</a></li>
                    <li><a href="#"><img src="images/gg.png" alt=""/>google plus / Lorem.com</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="copywrite">
            <p>© 2015 Curriculum Vitae All Rights Reseverd | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
        </div>
    </div>
</div>
<!---->
